This notebook includes some medium level pandas functianalities which can work more efficiently with fewer lines of code. Enjoy :)

In [ ]:
#@title Upload
from google.colab import files
files.upload()

In [4]:
#@title Read the test dataframe
import pandas as pd

df = pd.read_csv("train.csv")
df.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

## Reading csvs
Get rid of unwanted unnamed second index column

In [14]:
#@title First version
df.to_csv('train_output_1.csv')
df_test = pd.read_csv('train_output_1.csv')
df_test.head()

,Unnamed: 0,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,0,A,80.10,material_7,material_8,9,5,7,8,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,1,A,84.89,material_7,material_8,9,5,14,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,2,A,82.43,material_7,material_8,9,5,12,1,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,3,A,101.07,material_7,material_8,9,5,13,2,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,4,A,188.06,material_7,material_8,9,5,9,2,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

In [16]:
#@title Medium version
df.to_csv('train_output_2.csv', index=False)
df_test = pd.read_csv('train_output_2.csv') 

# alternatively, use index_col = [0] when reading
# df_test = pd.read_csv('train_output_1.csv', index_col=[0])

#alternatively, use parse_dates=['Date'] when reading to prevent any date format being missed out
# df_test = pd.read_csv('train_output_1.csv', parse_dates=['Date'])

df_test.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

## Querying

In [ ]:
#@title First version
df.loc[(df['loading'] > 100) & (df['loading'] < 110)]

In [27]:
#@title Medium version
df.query('loading > 100 and loading < 110')
# alternatively, use f string method for repetability
min_loading = 100
max_loading = 110
df.query(f'loading > {min_loading} and loading < {max_loading}')
# alternatively, simply use @ symbol to access variables
df.query('loading > @min_loading and loading <@max_loading')

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
8,8,A,109.50,material_7,material_8,9,5,9,6,5,...,11.557,15.965,19.604,14.091,15.674,13.327,13.535,15.408,NaN,0
15,15,A,106.43,material_7,material_8,9,5,8,5,9,...,11.904,13.723,NaN,13.167,14.823,14.969,14.389,16.608,888.257,0
19,19,A,109.24,material_7,material_8,9,5,11,4,4,...,9.459,15.392,21.825,11.214,15.139,17.359,13.791,16.212,NaN,0
24,24,A,100.48,material_7,material_8,9,5,4,7,10,...,9.435,16.915,17.916,10.268,15.275,17.929,14.645,14.692,594.860,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26546,26546,E,103.60,material_7,material_6,6,9,1,15,3,...,12.265,14.193,19.618,12.310,16.160,15.490,14.522,17.863,731.105,1
26552,26552,E,109.26,material_7,material_6,6,9,2,10,6,...,12.924,15.202,17.588,13.415,14.751,NaN,15.502,14.247,868.544,0
26562,26562,E,108.35,material_7,material_6,6,9,6,8,3,...,11.256,17.274,22.033,NaN,16.177,15.000,15.163,15.535,935.448,0
26563,26563,E,106.69,material_7,material_6,6,9,1,10,15,...,10.305,17.066,18.045,11.984,15.544,13.994,15.687,15.347,686.584,0
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,11.392,17.064,17.814,14.928,16.273,15.485,13.624,12.865,730.156,0

## Vectorization: Iterate over rows

In [42]:
#@title First version
for i , row in df.iterrows():
  if row['attribute_1'] == 'material_8':
    df.loc[i, 'is_material'] = True
  else:
    df.loc[i, 'is_material'] = False
df[['is_material']]

       is_material
0             True
1             True
2             True
3             True
4             True
...            ...
26565        False
26566        False
26567        False
26568        False
26569        False

[26570 rows x 1 columns]

In [49]:
#@title Medium version
df['is_material'] = df['attribute_1'] == 'material_8'
df[['is_material']]

       is_material
0             True
1             True
2             True
3             True
4             True
...            ...
26565        False
26566        False
26567        False
26568        False
26569        False

[26570 rows x 1 columns]

## Vectorization: Lambda functions

In [50]:
#@title First version
df['loading_squared'] = df.apply(lambda row: row['loading']**2, axis=1)
df[['loading_squared']]

       loading_square
0           6416.0100
1           7206.3121
2           6794.7049
3          10215.1449
4          35366.5636
...               ...
26565      25265.1025
26566      21321.8404
26567      13367.9844
26568      11316.7044
26569      17213.4400

[26570 rows x 1 columns]

In [51]:
#@title Medium version
df['loading_squared'] = df['loading'] ** 2
df[['loading_squared']]

       loading_squared
0            6416.0100
1            7206.3121
2            6794.7049
3           10215.1449
4           35366.5636
...                ...
26565       25265.1025
26566       21321.8404
26567       13367.9844
26568       11316.7044
26569       17213.4400

[26570 rows x 1 columns]

## Aggregating throuh columns

In [78]:
#@title First version
df['change'] = df['loading'].diff()
df['pct_change'] = df['loading'].pct_change()

df

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_14,measurement_15,measurement_16,measurement_17,failure,is_material,loading_square,loading_squared,change,pct_change
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,NaN,13.034,14.684,764.100,0,True,6416.0100,6416.0100,NaN,NaN
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,15.425,14.395,15.631,682.057,0,True,7206.3121,7206.3121,4.79,0.059800
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,18.631,14.094,17.946,663.376,0,True,6794.7049,6794.7049,-2.46,-0.028979
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,15.562,16.154,17.172,826.282,0,True,10215.1449,10215.1449,18.64,0.226131
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,12.760,13.153,16.412,579.885,0,True,35366.5636,35366.5636,86.99,0.860691
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26565,26565,E,158.95,material_7,material_6,6,9,6,16,4,...,18.572,16.144,NaN,729.131,0,False,25265.1025,25265.1025,34.18,0.273944
26566,26566,E,146.02,material_7,material_6,6,9,10,12,8,...,14.322,13.146,16.471,853.924,0,False,21321.8404,21321.8404,-12.93,-0.081346
26567,26567,E,115.62,material_7,material_6,6,9,1,10,1,...,16.599,15.590,14.065,750.364,0,False,13367.9844,13367.9844,-30.40,-0.208191
26568,26568,E,106.38,material_7,material_6,6,9,2,9,4,...,15.485,13.624,12.865,730.156,0,False,11316.7044,11316.7044,-9.24,-0.079917
26569,26569,E,131.20,material_7,material_6,6,9,6,19,1,...,13.366,16.527,17.890,602.354,0,False,17213.4400,17213.4400,24.82,0.233315